/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bg-white: #ffffff;
  --bg-white-soft: #f8f8f8;
  --bg-white-mute: #f2f2f2;
  --bg-light-gray: #f6f7fb;

  --bg-dark-blue: #06283d;
  --bg-medium-blue: #1363df;
  --bg-light-blue: #47b5ff;

  --border-very-light-blue: #C6DDE6;
  --bg-very-light-blue-shadow: #d5ecf5;
  --bg-very-light-blue: #dff6ff;
  --bg-very-light-blue-hover: #e9ffff;

  --bg-button-hover: #1d6de9;
  --bg-button-active: #0959d5;

  --text-color-light-grey: #676767;
  --text-color-grey: #474747;
  --text-color: #171717;
  --text-color-white: #f8f9fa;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--bg-white);
  --color-background-soft: var(--bg-white-soft);
  --color-background-mute: var(--bg-white-mute);
  --color-background-soft-blue: var(--bg-very-light-blue);

  --button-bg-strong-blue: var(--bg-medium-blue);
  --button-bg-hover-blue: var(--bg-button-hover);
  --button-bg-active-blue: var(--bg-button-active);
  --input-field-border: var(--bg-light-blue);
}

body {
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
